* {
	box-sizing: border-box;
}

body {
	background-color: #636363;
	margin: 0;
	overflow: hidden;
}
body.hull-ani {
	animation: hull-ani-00 5s 3.5s forwards;
}
@keyframes hull-ani-00 {
	100% {overflow-y: auto;}
}
body.hull-no-ani {
	overflow-y: auto;
}




/* planksAB-banner.svg animations */


#planksAB:hover #text-title-shadow {
	animation: text-an1-01 2s forwards; /* forwards probably crashes the animation */
}
.all-small-planks:hover .all-small-planks-text-shadows {
	animation: text-an1-01 2s forwards; /* forwards probably crashes the animation */
}
@keyframes text-an1-01 {
	100% {opacity: 1;}
}


#side-center.side-center-ani {
	animation: side-center-ani-00 5s forwards;
}
@keyframes side-center-ani-00 {
	0% {top: -2900px; height: 5000px;}
	99% {top: 0px; height: 5000px;}
	100% {top: 0px; height: 3300px;}
}


#banner.banner-ani {
	animation: banner-ani-00 5s forwards;
}
@keyframes banner-ani-00 {
	0% {transform: translate(-51%,0px);}
	50% {transform: translate(-51%,120px);}
	100% {transform: translate(-51%, 0px);}
}

/* tape-A.svg animations */

#plate-A-00-up-all.tape-A-ani-left {
	animation: tape-A-left-ani-00 15s none;
}
#plate-A-00-up-all.tape-A-ani-right {
	animation: tape-A-left-ani-00 15s none reverse;
}
@keyframes tape-A-left-ani-00 {
	0% {transform: translate(0px, 0px);}
	100% {transform: translate(-407.2px, 0px);} /* 326.2px */
}

#plate-A-00-down-all.tape-A-ani-left {
	animation: tape-A-left-ani-01 15s none;
}
#plate-A-00-down-all.tape-A-ani-right {
	animation: tape-A-left-ani-01 15s none reverse;
}
@keyframes tape-A-left-ani-01 {
	0% {transform: translate(0px, 0px);}
	100% {transform: translate(430.8px, 0px);} /* 349.8px */
}

.all-no-ani-buttons.tape-A-ani-left {
	animation: tape-A-left-ani-02 15s none;
}
.all-no-ani-buttons.tape-A-ani-right {
	animation: tape-A-left-ani-02 15s none reverse;
}
@keyframes tape-A-left-ani-02 {
	0% {transform: rotate(0deg); transform-box: fill-box; transform-origin: 50% 50%;}
	100% {transform: rotate(-720deg); transform-box: fill-box; transform-origin: 50% 50%;}
}

#all-lines.all-lines-ani {
	animation: all-lines-ani-00 5s forwards;
}
@keyframes all-lines-ani-00 {
	0% {bottom: 2200px;}
	99% {bottom: 2200px;}
	100% {bottom: 500px;}
}

/* tape-A.svg animations buttons */

#Button00Left.tape-A-00-buttons-ani-left {
	animation: tape-A-left-ani-03 15s none;
}
#Button01Left.tape-A-00-buttons-ani-left {
	animation: tape-A-left-ani-03 15s none;
}
#Button00Right.tape-A-00-buttons-ani-right {
	animation: tape-A-left-ani-03 15s none;
}
#Button01Right.tape-A-00-buttons-ani-right {
	animation: tape-A-left-ani-03 15s none;
}
@keyframes tape-A-left-ani-03 {
	0% {transform: translate(0px, 0px);}
	50% {transform: translate(-1px,-1px);}
	100% {transform: translate(0px, 0px);}
}

.tape-A-00-buttons {
	cursor: pointer;
}

/* side-bottom animations */

#side-bottom.side-bottom-ani {
	animation: side-bottom-ani-00 5s forwards;
}
@keyframes side-bottom-ani-00 {
	100% {transform: translate(0, 1400px);}
}


.all-gutters-down.all-gutters-down-ani {
	animation: all-gutters-down-ani-00 5s forwards;
}
@keyframes all-gutters-down-ani-00 {
	100% {top: 2205px}
}


/* index.html */

#side-top {
	position: relative;
	width: 90%;
	margin-left: 50%;
	transform: translate(-50%, 0);
}

#side-banner {
	position: relative;
}

#banner {
	width: 3397.87px;
	height: 980px;
	margin-left: 50%;
	transform: translate(-51%, 0);
}

#planksAB-banner {
	position: relative;
	transform-origin: 0 0;
	transform: translate(0, -650px) scale(2.35);

}

.all-small-planks {
	cursor: pointer;
}

#side-center {
	background-image: url("../img/wall-0.svg");
	background-size: 40%;
	position: absolute;
	width: 100%;
	height: 5000px;
	overflow: hidden;
	top: -2900px;
}

#trough-left {
	position: absolute;
	transform: scale(1.7);
	left: 2.5%;
	top: 630px;
}

#trough-right {
	position: absolute;
	transform: scale(1.7);
	right: 2.5%;
	top: 630px;
}

.contact-group {
	cursor: pointer;
	pointer-events: all;
}

#all-lines {
	position: absolute;
	width: 100%;
	bottom: 2200px;
}

.lines {
	position: relative;
	height: 1000px;
}

#AllBoxes {
	position: absolute;
	display: flex;
	justify-content: space-around;
	top: 1225px;
	left: 0;
	width: 100%;
}

.slides {
	position: absolute;
	display: flex;
	justify-content: space-around;
	width: 100%; /* 1225px */
	transform: translate(100%, 0);
}
.one-of-three {
	display: flex;
	justify-content: space-around;
}
.Boxes {
	transform: scale(2.3);
	position: absolute;
}

#Tab00Category:hover  {
	fill: white;
	cursor: pointer;
}
#Tab01Descrip:hover {
	fill: white;
	cursor: pointer;
}
#Tab02Code:hover {
	fill: white;
	cursor: pointer;
}
#Tab00Category:hover ~ g .flip00 {
	pointer-events: none;
	cursor: pointer;
}
#Tab01Descrip:hover ~ g .flip00 {
	pointer-events: none;
	cursor: pointer;
}
#Tab02Code:hover ~ g .flip00 {
	pointer-events: none;
	cursor: pointer;
}
.textboxes00,.flip00 {
	pointer-events: none;
}
.miniatures00 {
	position: absolute;
	background-color: white;
	cursor: pointer;
	width: 608px;
	height: 274px;
	transform: translate(58px, 36px);
}
.slides-images-00 {
	height: 100%;
	margin-left: 50%;
	transform: translate(-50%, 0);

}

/* boxes animations */

.slides.slides-right.slide00 {
	animation: boxes-ani-R00 15s reverse forwards;
}
@keyframes boxes-ani-R00 {
	0% {transform: translate(100%, 0);}
	100% {transform: translate(0%, 0);}
}
.slides.slides-left.slide00 {
	animation: boxes-ani-L00 15s forwards;
}
@keyframes boxes-ani-L00 {
	0% {transform: translate(100%, 0);}
	100% {transform: translate(0%, 0);}
}
.slides.slides-right.slide01 {
	animation: boxes-ani-R01 15s reverse forwards;
}
@keyframes boxes-ani-R01 {
	0% {transform: translate(0%, 0);}
	100% {transform: translate(-100%, 0);}
}
.slides.slides-left.slide01 {
	animation: boxes-ani-L01 15s forwards;
}
@keyframes boxes-ani-L01 {
	0% {transform: translate(0%, 0);}
	100% {transform: translate(-100%, 0);}
}
.slides.slides-right.slide02 {
	animation: boxes-ani-R02 15s reverse forwards;
}
@keyframes boxes-ani-R02 {
	0% {transform: translate(-100%, 1005px);}
	100% {transform: translate(0%, 1005px);}
}
.slides.slides-left.slide02 {
	animation: boxes-ani-L02 15s forwards;
}
@keyframes boxes-ani-L02 {
	0% {transform: translate(-100%, 1005px);}
	100% {transform: translate(0%, 1005px);}
}
.slides.slides-right.slide03 {
	animation: boxes-ani-R03 15s reverse forwards;
}
@keyframes boxes-ani-R03 {
	0% {transform: translate(0%, 1005px);}
	100% {transform: translate(100%, 1005px);}
}
.slides.slides-left.slide03 {
	animation: boxes-ani-L03 15s forwards;
}
@keyframes boxes-ani-L03 {
	0% {transform: translate(0%, 1005px);}
	100% {transform: translate(100%, 1005px);}
}
/* flipped items for classes slide02, slide03 */
.slide02 .Boxes {
	transform: scale(-2.3, 2.3);
}
.slide03 .Boxes {
	transform: scale(-2.3, 2.3);
}
.slide02 .Boxes #Category00Text {
	transform: translate(54.5%, 1%) scaleX(-1);
}
.slide03 .Boxes #Category00Text {
	transform: translate(54.5%, 1%) scaleX(-1);
}
.slide02 .Boxes #Descrip00Text {
	transform: translate(79%, -4.5%) scaleX(-1);
}
.slide03 .Boxes #Descrip00Text {
	transform: translate(79%, -4.5%) scaleX(-1);
}
.slide02 .Boxes #Code00Text {
	transform: translate(101.5%, -9%) scaleX(-1);
}
.slide03 .Boxes #Code00Text {
	transform: translate(101.5%, -9%) scaleX(-1);
}
.slide02 .miniatures00 {
	transform: translate(-58px, 36px);
}
.slide03 .miniatures00 {
	transform: translate(-58px, 36px);
}


.grips {
	position: absolute;
	transform-origin: 0 0;
	bottom: 0;
}

.grips#grip-A {
	transform: translate(-50%, 0) scale(2.3);
	top: 1274px;
}

.grips#grip-B {
	transform: translate(-50%, 0) scale(2.3);
	top: 2276px;
}

#roll-tape-A {
	transform: translate(-4110px, -350px) scale(3);
	transform-origin: 0 0;
	margin-left: 50%;
}

#roll-tape-B {
	transform: translate(-4110px, -350px) scale(3);
	transform-origin: 0 0;
	margin-left: 50%;
}

.tapes {
	position: absolute;
	margin-left: 50%;
	transform: translate(-50%, 0);
	bottom: 0;
}

#side-bottom {
	position: absolute;
	width: 100%;
	height: 670.95px;
	overflow: hidden;
	bottom: 0;
}

#street {
	transform: translate(-50%, 220px) scale(2.3);
	margin-left: 50%;
}

#gutter-down {
	position: absolute;
	width: 100%;
}


.all-gutters-down {
	position: absolute;
	top: 800px;
}

#gutter-down-left {
	transform: scale(2.9);
	left: 3.5%;
}

#gutter-down-right {
	transform: scale(-2.9, 2.9);
	right: 3.55%;
}

/* side-bottom */

#AllMailBox  {
	cursor: pointer;
}


/* openbox
/* scroll blocking >> body.hull-no-ani */

.openbox00 {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	border: 90px solid transparent;
	animation: open-box-ani-03 4s 8s forwards;
}
@keyframes open-box-ani-03 {
	0% { border-image: url(../img/frame.png) 2% round; border-image-outset: 90px;}
	100% { border-image: url(../img/frame.png) 2% round; border-image-outset: 0px;}
}
.openbox01 {
	position: relative;
	align-self: center;
	width: 95%;
	height: 75%;
	animation: open-box-ani-01 4s 8s forwards;

}
@keyframes open-box-ani-01 {
	0% {background-image: url("../img/wall-0.svg");}
	100% {width: 100%; height: 100%; background-image: url("../img/wall-0.svg");}
}
.closebox00 {
	transform: scale(2.4);
	position: fixed;
	cursor: pointer;
	top: 150px;
	right: 150px;
	width: 60px;
	height: 60px;
}
.closeboxImg {
	height: 100%;
	width: 100%;
	border: none;
}
.miniatures01 {
	display: block;
	cursor: initial;

}
.miniatures01.left00 {
	transform: translate(300px,11px);
	animation-name: open-box-ani-00, open-box-ani-02;
	animation-duration: 8s, 8s;
	animation-delay: 0s, 8s;
	animation-fill-mode: forwards, forwards;
}
.miniatures01.center00 {
	transform: translate(1580px,11px);
	animation-name: open-box-ani-00, open-box-ani-02;
	animation-duration: 8s, 8s;
	animation-delay: 0s, 8s;
	animation-fill-mode: forwards, forwards;
}
.miniatures01.right00 {
	transform: translate(2860px,11px);
	animation-name: open-box-ani-00, open-box-ani-02;
	animation-duration: 8s, 8s;
	animation-delay: 0s, 8s;
	animation-fill-mode: forwards, forwards;
}
.miniatures02 {
	display: block;
	cursor: initial;
}
.miniatures02.left00 {
	transform: translate(184px,1016px);
	animation-name: open-box-ani-00, open-box-ani-02;
	animation-duration: 8s, 8s;
	animation-delay: 0s, 8s;
	animation-fill-mode: forwards, forwards;
}
.miniatures02.center00 {
	transform: translate(1460px,1016px);
	animation-name: open-box-ani-00, open-box-ani-02;
	animation-duration: 8s, 8s;
	animation-delay: 0s, 8s;
	animation-fill-mode: forwards, forwards;
}
.miniatures02.right00 {
	transform: translate(2740px,1016px);
	animation-name: open-box-ani-00, open-box-ani-02;
	animation-duration: 8s, 8s;
	animation-delay: 0s, 8s;
	animation-fill-mode: forwards, forwards;
}
@keyframes open-box-ani-00 {
	100% {width: 100%; height: 100%; transform: translate(0,0);}
}
@keyframes open-box-ani-02 {
	100% {width: 100%; height: 100%; padding-block: 160px; background-color: transparent;}
}


/* after opening Box */

.Inbox01 {
	position: relative;
	display: flex;
	flex-flow: column;
	align-self: center;
	width: 100%; 
	height: 100%; 
	background-image: url("../img/wall-0.svg");
}

.miniatures03 {
	position: relative;
	height: 75%;
	width: 100%;
}
.miniatures03 > img {
	border: 6px solid black;
	border-top: 0px;
}
.img-shadow00 {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 30px 30px  #0000005c;
}
.uppersection {
	position: relative;
	width: 100%;
	height: 12.5%;
}
.bottomsection {
	position: relative;
	width: 100%;
	height: 12.5%;
}
.leftsection {
	display: flex;
	align-items:center;
	justify-content:center;
	position: absolute;
	width: 15%;
	height: 100%;
	left: 5px;
}
.rightsection {
	display: flex;
	align-items:center;
	justify-content:center;
	position: absolute;
	width: 15%;
	height: 100%;
	right: 5px;
}

.sub00 {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
	margin-left: 50%;
	transform: translate(-50%, 0px);
}
.sub01 {
	flex-grow: 1;
	display: flex;
	align-items:center;
	justify-content:center;
	position: absolute;
	background-color: white;
	height: 70%;
	width: 38%;
	border-radius: 50px 50px 0px 0px;
	box-shadow: 0px 0px 30px 30px  #0000005c;
	border: 6px solid black;
	bottom: 0;
}
#sect-sub01 {
	right: 0;
}
#sect-sub02 {
	left: 50%;
	transform: translate(-50%);
}
#sect-sub03 {
	left: 0;
	border-bottom-color: white;
}
.sub01.reaction00 {
	border-bottom-color: white;
	z-index: 3;
}
.sub01-titles {
	font-family: "Comic sans MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 75px;
	pointer-events: none;
}
.navi-all {
	position: relative;
	width: 128px;
	height: 298px;
}
.navi-all-img {
	scale: 2.2;
	width: 100%;
	height: 100%;
	border: none;
}

.chain-all {
	position: relative;
	width: 52px;
	height: 6300px;
}
.long-chain-img {
	scale: 2.2;
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
}
.long-chain-img.chain-img-up {
	transform: translate(0px, 125px);
}
.leftsection.leftsection00 {
	overflow: hidden;
	justify-content:space-evenly;
	pointer-events: none;
}
.rightsection.rightsection00 {
	overflow: hidden;
	justify-content:space-evenly;
	pointer-events: none;
}

