* {
	box-sizing: border-box;
}
body > div {
	display: none;
}
.letmein {
	position: absolute;
	display: flex;
	align-items:center;
	justify-content:center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/wall-0.svg");
	background-size: 70%;
	border: 15px solid transparent;
	border-image: url(../img/frame.png) 2% round;
}
.buttonBG {
	width: 100%;
	height: 95%;
	position: absolute;
	background-image: url("../img/button-wood-v2-ani.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.StartButton {
	position: absolute;
	width: 100%;
	height: 100%;
}
